* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 20;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    color: white;
    padding: 0 20px;
    font-family: "Monrope", sans-serif;
    font-size: 18px;
}

#hero {
    background: #000000;
    padding-top: 200px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    font-family: "Monrope", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #DEDEDE;
    margin-bottom: 30px;
}

.hero-desc {
    font-family: "Monrope", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #959595;
    margin-bottom: 30px;
}

.hero-btn {
    width: 400px;
    height: 64px;
    background: #9D9D9D;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: .4s;
    margin-bottom: 30px;
    font-family: 'Manrope',sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.hero-btn span{
    padding: 0 10px;
}

.hero-btn:hover {
    transform: scale(1.1);
}

.hero-general {
    width: 630px;
}